@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//-------------
//Fonts
//-------------
$main-font: "Roboto", "sans-serif";
$font-size-huge: 32px;
$font-size-big: 24px;
$font-size-middle: 16px;
$font-size-small: 14px;
//-------------
//Colors
//-------------
$ticket-background-color:#ffffff;
$ticket-button-background-color:#ffffff;
$ticket-button-border-color: #d6d6d6;
$field-item-border-color: #d6d6d6;
$field-item-active-color: #ffd205;
